body{
    font-family: "Open Sans", system-ui;
    margin: 0;
    padding: 0;
}

/* navber area style  */

.primary-text-color{
    color: #868074;
}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    background-color: #FD6E0A;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    border: none;
}

nav h1 {
    font-size: 40px;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    padding-top: 40px;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
}

/* Banner area style */

.header{
    background-color: #faf5f1;
    background-image: url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 35em;
}

.banner {
    padding-left: 150px;
    display: flex;
    align-items: center;
    padding-right: 45px;
    padding-top: 25px;
    justify-content: space-between;
    /* margin-top: 3px; */
}

.banner img {
    width: 400px;
    margin-bottom: -5px;
}

.banner-content h3 {
    font-size: 40px;
    font-weight: 400;
    color: #6c6666;
    margin: 0;
}

.banner-content h1 {
    font-size: 60px;
    margin: 0;
}

.banner-content p {
    width: 500px;
    color: #868074;
    padding-bottom: 20px;
}

.banner-btn {
    margin-left: 10px;
    background: #faf5f1;
    color: #FD6E0A;
    font-weight: bold;
    padding: 9px 15px;
    border: 1px solid;
    border-radius: 5px;
}

/* Main area  */

main{
    max-width: 960px;
    margin: 0px auto;
}

.about-section{
    background-color: #FFF8F3;
    margin: 100px 0px;
    text-align: center;
    padding: 100px;
}

section.about-parent {
    display: flex;
    justify-content: space-around;
}

.about-description p {
    font-size: 14px;
    color: #868074;
}

p.aboutdes {
    color: #868074;
    font-size: 13px;
}

h4.about-title {
    font-weight: 500;
}

section.skill-container {
    margin-bottom: 100px;
}

/* Skill area style */

section.skill-container h1 {
    font-size: 30px;
    text-align: center;
}

section.skill-container .skill-container-des {
    font-size: 14px;
    width: 700px;
    text-align: center;
    color: #868074;
    margin: auto;
}

.skill-area {
    display: flex;
    gap: 40px;
    margin-top: 50px;
}

.skill {
    padding: 16px;
    box-shadow: 0px 2px 10px 0px #e8e8e8;
    border-radius: 5px;
}

p.skill-description {
    font-size: 14px;
    color: #868074;
}

h3.skill-title {
    font-size: 15px;
}

img.skill-img {
    width: 30px;
}